main {
  padding-top: 37.5px;
  display: flex;
  justify-content: flex-end;
}

.food-containers-managment {
  width: 300px;
  height: 100%;
  padding: 15px;
  position: fixed;
  left: 110px;

  border-right: solid;
  border-color: rgb(5, 5, 70);
  border-width: 7.5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-containers-managment hr {
  width: 300px;
  margin: 22.5px;
}

.food-containers-managment > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-containers-managment__sorting__asc {
  width: 220px;
  background-color: black;
  border-radius: 6px;
  border: solid;
  border-color: yellow;
  border-width: 2.25px;

  margin-left: 3.75px;
  margin-right: 7.5px;
  padding: 3.75px 18.75px;

  font-size: 18px;
  color: yellow;

  transition: background-color 0.3s, color 0.3s;
}

.food-containers-managment__sorting__asc:hover {
  background-color: yellow;
  color: black;
}

.food-containers-managment__sorting__desc {
  width: 220px;
  background-color: black;
  border-radius: 6px;
  border: solid;
  border-color: red;
  border-width: 2.25px;

  margin-left: 3.75px;
  margin-right: 7.5px;
  margin-top: 9px;
  padding: 3.75px 18.75px;

  font-size: 18px;
  color: red;

  transition: background-color 0.3s, color 0.3s;
}

.food-containers-managment__sorting__desc:hover {
  background-color: red;
  color: black;
}

.food-containers-managment__count__button {
  width: 150px;
  background-color: black;
  border-radius: 6px;
  border: solid;
  border-color: green;
  border-width: 2.25px;

  margin-left: 3.75px;
  margin-right: 7.5px;
  margin-top: 3.75px;
  padding: 3.75px 18.75px;

  font-size: 18px;
  color: green;

  transition: background-color 0.3s, color 0.3s;
}

.food-containers-managment__count__button:hover {
  background-color: green;
  color: black;
}

.food-containers-managment__count__display {
  margin-top: 11.25px;
  width: 160px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.food-containers-display {
  width: 775px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
